*{
    margin: 0;
    padding: 0;
}

/* banner Part */
.header{
    width: 100%;
    height: 750px;
    background-image: url("./images/banner/banner1.png");
    background-position: center;
    background-repeat: no-repeat;
}
.header .banner-content{
    width: 1140px;
    margin: 0 auto;
    text-align: right;
}
.banner-title{
    padding-top: 250px;
    padding-left: 700px;
    Font-family: Work Sans;
    font-weight: 800px;
    font-size: 60px;
    line-height: 60px;
    color: #151414;
}
.banner-dis{
    padding-left: 700px;
    margin-top: 20px;
    margin-bottom: 20px;
    Font-family: Work Sans;
    font-weight: 400px;
    font-size: 16px;
    line-height: 20px;
    color: #444343;
}
.btn-primary{
    background-color: #F15B22;
    color: #FFFFFF;
    border: 0;
    padding: 20px;
    border-radius: 5px;
    Font-family: Work Sans;
    Font-style: SemiBold;
    Font-size: 20px;
}
/* About Section */
.about-container{
    margin-top: 200px;
}
.About-section{
    width: 1140px;
    height: 800px;
    margin: 0 auto;
    display: flex;
}

.about-title{
    padding-top: 250px;
    padding-left: 80px;
    Font-family: Work Sans;
    Font-style: 800;
    Font-size: 40px;
    margin-bottom: 50px;
    color: #151414;
}
.about-dis{
    padding: 0 100px 20px 80px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #444343;
}
.about-list{
    display: inline; 
}
.about-icon img{
    width: 30px;
    height: 30px;
    padding-left: 50px;
}
.about-para{
    margin-left: 85px;
    margin-top: -28px;
    color: #444343;
    font-size: 16px;
    font-weight: 400px;
    font-family: Work Sans;
}
/* Plan Section */
.plan{
    width: 100%;
}
.Plan-section{
    width: 1140px;
    height: 750px;
    margin: 0 auto;
    
}
.Plan-section h1{
    text-align: center;
    padding-top: 150px;
    font-weight: 800;
    font-size: 40px;
    padding-bottom: 130px;
}
.plan-title{
    display: flex;
}
.plan-content{
    text-align: center;
   padding: 40px;
}
.plan-content img{
    width: 100px;
    height: 100px;
}
.plan-content h2{
    font-family: Work Sans;
    font-weight: 700;
    font-size: 30px;
    color: #151414;
}
.plan-content p{
    font-size: 16px;
    font-weight: 400;
    color: #737272;
    padding-top: 20px;
}
/* event section */
.event-container{
    margin-top: 100px;
}
.event{
    width: 1140px;
    height: 300px;
    background-image: url("./images/watch.png");
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
}
.event-title{
    padding-top: 25px;
    width: 1140px;
    height: 275px;
    background-image: linear-gradient(to left, rgba(71, 68, 245, 0), rgb(16, 107, 51));
}
.event-title h2{
    font-weight: 800;
    font-size: 40px;
    padding-left: 60px;
    font-family: Work Sans;
    padding-top: 50px;
    color: #FFFFFF;
}
.event-title button{
    margin-left: 60px;
    margin-top: 40px;
    background: #FFFFFF;
    color: #F15B22;
    font-weight: 600;
    font-size: 20px;
}
/* Footer Section */
.footer{
    width: 100%;
    background: #151414;
    margin-top: 100px;
}
.footer-container{
    width: 1140px;
    height: 600px;
    margin: 0 auto;
    display: flex;
}
.footer-content h2{
    color: #F8F8F8;
    font-size: 40px;
    font-size: 700;
    font-family: Work Sans;
    padding-bottom: 20px;
}
.footer-content p{
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    text-align: justify;
    padding-right: 430px;
    padding-bottom: 20px;
}
.footer-content{
    padding-top: 200px;
}
.footer-content label{
    color: #FFFFFF;
    font-size: 16px;
    font-family: Work Sans;
}
.footer-content label a{
    text-decoration: none;
    color: #FFFFFF;
}
.footer-content .social{
        padding-top: 25px;
}
.form-content h2{
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 600;
    font-family: Work Sans;
    padding-bottom: 20px;
}
.form-content{
    padding-top: 200px;
    padding-right: 100px;
}
.form-content input{
    padding: 15px;
    background: #151414;
    border: 1px solid #fff;
    border-radius: 5px;
    margin-bottom: 20px;
}
.form-content .btn-primary{
    background: #FFFFFF;
    color: #F15B22;
    font-size: 20px;
    font-weight: 600;
    font-family: Work Sans;
    padding: 10px 20px;
}